* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1,75em;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    margin: 0 8em;
}

.dispositivos__titulo {
    font-size: 3em;
    font-weight: 700;
}

.dispositivos__lista {
    font-size: 2em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 2.5em 0;
}

.rodape {
    text-align: center;
    margin: 6em 8em;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    margin: 2.5em 0;
}

.rodape .lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--cinza-secundario);
}

.rodape__texto {
    font-size: 0.8em;
    color: var(--cinza-secundario);
    margin: 1em 0;
}